version: "3.9"

services:
  app:
    build: .
    image: myrepo/go-cicd-template:latest
    container_name: go_app
    restart: always
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=prod
    
