version: "3.9"

services:
  app:
    build: .
    image: crpi-kc1xjy517ehrbwcm.cn-shanghai.personal.cr.aliyuncs.com/myapps/go-cicd-template:latest
    container_name: go_app
    restart: always
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=prod
